<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="startupscrums.levelup" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Logic.ParseInitialize"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AndysCustomStuff.OldActivityMainListView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar" >
        </activity>
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="true" />
        </activity>
        <activity
            android:name=".AndysCustomStuff.PeersActivity"
            android:label="Peers"
            android:parentActivityName=".AndysCustomStuff.OldActivityMainListView" />
        <activity
            android:name=".StartupAndLoginScreen"
            android:label="LevelUP"
            android:parentActivityName=".AndysCustomStuff.OldActivityMainListView"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider957816557622830"
            android:exported="true" />

        <activity
            android:name=".DescriptionScreen"
            android:label="Description"
            android:parentActivityName=".AndysCustomStuff.OldActivityMainListView" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TimelineScreen"
            android:label="My Timeline"
            android:theme="@style/AppTheme.ActionBar" >
        </activity>
        <activity
            android:name=".CourseScreen"
            android:label="My Class"
            android:theme="@style/AppTheme.ActionBar" >
        </activity>
        <activity
            android:name=".HelpCommunityScreen"
            android:label="MY Community"
            android:theme="@style/AppTheme.ActionBar" >
        </activity>
    </application>

</manifest>
